In [2]:
import requests
import pandas as pd

In [8]:
# Links to csv files
url_contador = 'https://datos.cdmx.gob.mx/dataset/07d5d501-66dc-4e3e-9d92-bfa163d21434/resource/8548607a-b0c0-4210-962e-1240f715b680/download/ciclista_nuevo.csv'
url_estudio_de_conteo =
url_incidentes

In [ ]:
# Get data from the website

In [13]:
url_content = info.content

In [14]:
csv_file = open('downloaded.csv', 'wb')


csv_file.write(url_content)

csv_file.close()

In [16]:
contador = pd.read_csv('downloaded.csv')
contador

,Id,dia_de_la_semana,dia,mes,ano,contador_ruta_reforma222,contador_ruta_revolucion,contador_ruta_patriotismo
0,1,jueves,5,diciembre,2013,2516.0,NaN,NaN
1,2,lunes,9,diciembre,2013,2132.0,NaN,NaN
2,3,viernes,22,junio,2018,2913.0,980.0,1163.0
3,4,martes,10,julio,2018,2531.0,877.0,1013.0
4,5,sábado,7,julio,2018,1534.0,616.0,584.0
...,...,...,...,...,...,...,...,...
2520,2521,miércoles,24,febrero,2021,NaN,455.0,725.0
2521,2522,jueves,25,febrero,2021,NaN,491.0,774.0
2522,2523,viernes,26,febrero,2021,NaN,527.0,735.0
2523,2524,sabado,27,febrero,2021,NaN,457.0,753.0
2524,2525,domingo,28,febrero,2021,NaN,422.0,953.0

In [17]:
contador_2 = pd.read_csv('Data/contador-ciclistas.csv')
contador_2

,Día de la semana,Día,Mes,Año,Contador Ruta Reforma222,Contador Ruta Revolución,Contador Ruta Patriotismo
0,jueves,5,diciembre,2013,2516.0,NaN,NaN
1,lunes,9,diciembre,2013,2132.0,NaN,NaN
2,viernes,22,junio,2018,2913.0,980.0,1163.0
3,martes,10,julio,2018,2531.0,877.0,1013.0
4,sábado,7,julio,2018,1534.0,616.0,584.0
...,...,...,...,...,...,...,...
2369,sábado,12,septiembre,2020,NaN,659.0,632.0
2370,martes,15,septiembre,2020,NaN,626.0,625.0
2371,miércoles,16,septiembre,2020,NaN,435.0,553.0
2372,jueves,17,septiembre,2020,NaN,673.0,636.0
2373,viernes,25,septiembre,2020,NaN,733.0,613.0